* {
  font-family: avenir;
}

li {
  list-style-type: none;
  color: #101010;
}



a {
  text-decoration: none;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: hidden auto;
  height: 100%;
  background-color: #313131;
}
