* {
  font-family: avenir;
}

li {
  list-style-type: none;
  color: #101010;
}
.color-wheel {
color: #bf6b72;
color: #233ED9;
color: #050D26;
color: #296CF2;
color: #688d8d;
color: #43a8a8;
color: #133333;
color: #35a3a3;
color: #ecc8cb;
color: rgb(207, 207, 207);
color: #cfcfcf;
color: rgb(73, 100, 100);

}

a {
  text-decoration: none;
}

html {
  /* overflow: hidden; */
  height: 100%;
}

body {
  width: 100vw;
  /* overflow: hidden; */
  height: 100%;
}

@media screen and (max-width: 800px) {
  /* body {
    overflow: auto;
    height: initial;
    scroll-behavior: smooth;
    background: #313131;
  }
  
  html {
    overflow: auto;
    height: initial;
    scroll-behavior: smooth;
    background: #313131;
  } */
}
