@keyframes appear {
  from {opacity: 0}
  33% {opacity: 1;}
  66% {opacity: 1;}
  to {opacity: 0;}
}

.appear {
  color: #f0ebeb;
  margin-top: 25px;
  line-height: 35px;
}

.message {
  height: 150px;
  position: relative;
}

@keyframes gears {
from {opacity: 0}
to {opacity: 1}
}

.gear-box {
  display: flex;
  flex-flow: column wrap;
  width: 340px;
  height: 300px;
  margin: 0 auto;
  margin-top: -60px;
  animation-name: gears;
  animation-duration: 3s;
}

.gears {
  color: #DB686F;
  font-size: 200px;
  animation-name: gears;
}

@keyframes clockwise {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg);}
}

@keyframes counter {
  from {transform: rotate(0deg)} 
  to {transform: rotate(-360deg)}
}

#large {
  color: #DB686F;
  margin-top: 40px;
  margin-right: -6px;
  font-size: 200px;
  animation-name: clockwise;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 50ms;
}

#medium {
  color: #35a3a3;
  margin-top: 20px;
  margin-right: 25px;
  font-size: 150px;
  animation-name: counter;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-left: -9px;
}

#small {
  color: #f0ebeb;
  margin-top: -7px;
  font-size: 100px;
  animation-name: clockwise;
  animation-duration: 7s;
  animation-delay: 275ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@media screen and(max-width: 600px) {
  .gear-box {
    display: flex;
    flex-flow: column wrap;
    width: 340px;
    height: 300px;
    margin: 0 auto;
    margin-top: -80px;
    animation-name: gears;
    animation-duration: 20s;
  }
}